@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

#color-Y {
    color: #F8CB46;
}

#color-G {
    color: #54B226;
}

.navbar .Logo {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 38px;
}

#btn-My-Cart {
  background-color: #0c831f;
  padding-top: 0.8rem ;
  padding-bottom: 0.8rem ;
}

header#header {
  background-color: white;
}

div.search-container {
  background-color: #f8f8f8;
}

div.search-container input.search_input {
  border-style: none !important;
  border: 0px !important;
  border: 0;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

/* Placeholder slider */

div.slider-container {
  width: max-content !important;
}

@media screen and (width < 1025px) {
  span#My-cart {
    display: none;
  }  
}

@media screen and (width < 600px) {
  #Delivery_location {
    font-size: 0.7rem ;
  }  
  #Delivery_text {
    font-size: 0.9rem ;
  }
}

@media screen and (width < 1024px) {
  #SearchBar_div {
    width: 80%;
    display: inline-block;
  }  
  #Cart_Button_sm_screen {
    width: 20%;
  }
}